In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('corona_Temperatures/busan.csv', encoding='UTF-8',parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True)

In [3]:
df

,Unnamed: 0,날짜,region,confirmed,death,부산일일확진자,부산일일사망자,사망률,부산 평균기온(℃)
0,0,2020-02-17,부산,0,0,0,0,0.00,0.1
1,1,2020-02-18,부산,0,0,0,0,0.00,1.2
2,2,2020-02-19,부산,0,0,0,0,0.00,6.1
3,3,2020-02-20,부산,8,0,8,0,0.00,9.3
4,4,2020-02-21,부산,8,0,0,0,0.00,11.0
...,...,...,...,...,...,...,...,...,...
495,495,2021-06-26,부산,6148,124,31,0,2.02,23.0
496,496,2021-06-27,부산,6160,124,12,0,2.01,23.8
497,497,2021-06-28,부산,6198,124,38,0,2.00,24.1
498,498,2021-06-29,부산,6207,124,9,0,2.00,23.5
499,499,2021-06-30,부산,6221,124,14,0,1.99,23.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  500 non-null    int64
 1   날짜          500 non-null    datetime64[ns]
 2   region      500 non-null    object
 3   confirmed   500 non-null    int64
 4   death       500 non-null    int64
 5   부산일일확진자     500 non-null    int64
 6   부산일일사망자     500 non-null    int64
 7   사망률         500 non-null    float64
 8   부산 평균기온(℃)  500 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(1)
memory usage: 35.3+ KB

In [11]:
df.drop('Unnamed: 0', axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [9]:
df

            날짜 region  confirmed  death  부산일일확진자  부산일일사망자   사망률  부산 평균기온(℃)
0   2020-02-17     부산          0      0        0        0  0.00         0.1
1   2020-02-18     부산          0      0        0        0  0.00         1.2
2   2020-02-19     부산          0      0        0        0  0.00         6.1
3   2020-02-20     부산          8      0        8        0  0.00         9.3
4   2020-02-21     부산          8      0        0        0  0.00        11.0
..         ...    ...        ...    ...      ...      ...   ...         ...
495 2021-06-26     부산       6148    124       31        0  2.02        23.0
496 2021-06-27     부산       6160    124       12        0  2.01        23.8
497 2021-06-28     부산       6198    124       38        0  2.00        24.1
498 2021-06-29     부산       6207    124        9        0  2.00        23.5
499 2021-06-30     부산       6221    124       14        0  1.99        23.9

[500 rows x 8 columns]

In [12]:
df = pd.read_csv('corona_Temperatures/seoul.csv', encoding='UTF-8',parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True)

In [13]:
df

,Unnamed: 0,날짜,region,confirmed,death,서울일일확진자,서울일일사망자,사망률,서울 평균기온(℃)
0,0,2020-02-17,서울,14,0,0,0,0.00,-5.9
1,1,2020-02-18,서울,14,0,0,0,0.00,-4.1
2,2,2020-02-19,서울,15,0,1,0,0.00,1.0
3,3,2020-02-20,서울,22,0,7,0,0.00,4.6
4,4,2020-02-21,서울,27,0,5,0,0.00,6.7
...,...,...,...,...,...,...,...,...,...
495,495,2021-06-26,서울,48980,512,263,1,1.05,22.8
496,496,2021-06-27,서울,49222,512,242,0,1.04,24.5
497,497,2021-06-28,서울,49407,513,185,1,1.04,23.7
498,498,2021-06-29,서울,49612,513,205,0,1.03,23.9
499,499,2021-06-30,서울,49987,513,375,0,1.03,24.3

In [14]:
df = pd.read_csv('corona_Temperatures/chungbuk.csv', encoding='UTF-8',parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True)

In [15]:
df

,Unnamed: 0,날짜,region,confirmed,death,충북일일확진자,충북일일사망자,사망률,충북 평균기온(℃)
0,0,2020-02-17,충북,0,0,0,0,0.00,-4.6
1,1,2020-02-18,충북,0,0,0,0,0.00,-3.4
2,2,2020-02-19,충북,0,0,0,0,0.00,0.3
3,3,2020-02-20,충북,0,0,0,0,0.00,3.4
4,4,2020-02-21,충북,1,0,1,0,0.00,5.4
...,...,...,...,...,...,...,...,...,...
495,495,2021-06-26,충북,3282,70,5,0,2.13,21.2
496,496,2021-06-27,충북,3286,70,4,0,2.13,23.1
497,497,2021-06-28,충북,3291,70,5,0,2.13,22.8
498,498,2021-06-29,충북,3301,70,10,0,2.12,22.7
499,499,2021-06-30,충북,3306,70,5,0,2.12,23.3

In [16]:
df = pd.read_csv('corona_Temperatures/jeonnam.csv', encoding='UTF-8',parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True)

In [17]:
df

,Unnamed: 0,날짜,region,confirmed,death,전남일일확진자,전남일일사망자,사망률,전남 평균기온(℃)
0,0,2020-02-17,전남,1,0,0,0,0.00,-6.6
1,1,2020-02-18,전남,1,0,0,0,0.00,-5.1
2,2,2020-02-19,전남,1,0,0,0,0.00,-0.9
3,3,2020-02-20,전남,1,0,0,0,0.00,2.7
4,4,2020-02-21,전남,1,0,0,0,0.00,5.1
...,...,...,...,...,...,...,...,...,...
495,495,2021-06-26,전남,1629,15,3,0,0.92,23.4
496,496,2021-06-27,전남,1635,15,6,0,0.92,24.0
497,497,2021-06-28,전남,1637,15,2,0,0.92,23.5
498,498,2021-06-29,전남,1641,15,4,0,0.91,23.1
499,499,2021-06-30,전남,1648,15,7,0,0.91,23.7

In [23]:
df = pd.read_csv('corona_Temperatures/gangwon.csv', encoding='UTF-8',index_col=0,parse_dates=['날짜'], dayfirst=True,infer_datetime_format=True)

In [24]:
df

            날짜 region  confirmed  death  강원일일확진자  강원일일사망자   사망률  강원 평균기온(℃)
0   2020-02-17     강원          0      0        0        0  0.00       -3.65
1   2020-02-18     강원          0      0        0        0  0.00       -1.85
2   2020-02-19     강원          0      0        0        0  0.00        1.65
3   2020-02-20     강원          1      0        1        0  0.00        4.45
4   2020-02-21     강원          1      0        0        0  0.00        6.45
..         ...    ...        ...    ...      ...      ...   ...         ...
495 2021-06-26     강원       3500     52       35        0  1.49       20.75
496 2021-06-27     강원       3519     52       19        0  1.48       22.65
497 2021-06-28     강원       3536     53       17        1  1.50       22.45
498 2021-06-29     강원       3544     53        8        0  1.50       22.75
499 2021-06-30     강원       3559     53       15        0  1.49       22.50

[500 rows x 8 columns]

In [4]:
import platform
from matplotlib import font_manager, rc # Runtime Configuration
path = "c:/Windows/Fonts/malgun.ttf"
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv('data/202005.csv', index_col=0, encoding='UTF-8')

In [8]:
df

,지역,망,측정소명,PM10,PM25,주소,date
0,서울 중구,도시대기,중구,34.0,25.0,서울 중구 덕수궁길 15,2020-05-01 01:00:00
1,서울 중구,도시대기,중구,37.0,26.0,서울 중구 덕수궁길 15,2020-05-01 02:00:00
2,서울 중구,도시대기,중구,38.0,29.0,서울 중구 덕수궁길 15,2020-05-01 03:00:00
3,서울 중구,도시대기,중구,43.0,31.0,서울 중구 덕수궁길 15,2020-05-01 04:00:00
4,서울 중구,도시대기,중구,43.0,33.0,서울 중구 덕수궁길 15,2020-05-01 05:00:00
...,...,...,...,...,...,...,...
331819,인천 옹진군,도시대기,영흥,31.0,24.0,인천광역시 옹진군 영흥면 영흥로251번길 90,2020-05-31 20:00:00
331820,인천 옹진군,도시대기,영흥,32.0,24.0,인천광역시 옹진군 영흥면 영흥로251번길 90,2020-05-31 21:00:00
331821,인천 옹진군,도시대기,영흥,34.0,28.0,인천광역시 옹진군 영흥면 영흥로251번길 90,2020-05-31 22:00:00
331822,인천 옹진군,도시대기,영흥,29.0,22.0,인천광역시 옹진군 영흥면 영흥로251번길 90,2020-05-31 23:00:00
331823,인천 옹진군,도시대기,영흥,22.0,21.0,인천광역시 옹진군 영흥면 영흥로251번길 90,2020-05-31 00:00:00

In [ ]:
df['지역']