In [1]:
import pandas as pd

In [2]:
# 미세먼지 데이터 파일 읽어오기 2021년 1월

In [3]:
df = pd.read_csv('dust/202101dust.csv', encoding='UTF-8')

In [4]:
df

,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종,avg2.5
0,2021-01-01,16,14,15,16,17,19,11,19,12,24,27,19,11,15,11,10,31,16.882353
1,2021-01-02,11,19,20,11,20,17,17,12,12,23,21,21,15,19,15,14,23,17.058824
2,2021-01-03,14,13,15,14,20,17,12,16,12,21,21,19,16,16,13,20,21,16.470588
3,2021-01-04,22,25,26,22,32,22,21,24,16,28,32,29,24,25,22,23,32,25.000000
4,2021-01-05,15,28,25,13,28,18,24,15,14,23,23,25,21,25,23,18,21,21.117647
5,2021-01-06,13,11,12,13,12,12,10,13,9,17,17,12,9,13,10,14,17,12.588235
6,2021-01-07,11,12,10,10,11,8,9,10,9,11,11,7,8,11,8,8,9,9.588235
7,2021-01-08,10,11,9,10,14,10,7,10,7,14,15,15,10,9,9,6,14,10.588235
8,2021-01-09,15,11,10,14,16,12,7,15,11,17,19,19,11,11,10,7,18,13.117647
9,2021-01-10,22,13,14,19,22,16,10,21,16,24,24,22,14,14,12,10,24,17.470588
10,2021-01-11,32,22,26,33,27,29,18,36,21,35,37,31,18,21,19,14,42,27.117647
11,2021-01-12,47,23,32,37,35,30,19,48,31,42,43,33,22,27,22,20,49,32.941176
12,2021-01-13,45,33,38,34,40,27,34,43,40,41,36,31,27,37,29,22,42,35.235294
13,2021-01-14,29,29,37,25,40,29,28,31,28,41,34,38,32,31,28,19,42,31.823529
14,2021-01-15,34,21,31,29,36,27,22,35,31,39,36,31,25,27,22,15,39,29.411765
15,2021-01-16,35,33,37,31,26,28,33,34,34,36,29,26,24,37,29,22,29,30.764706
16,2021-01-17,13,10,9,11,12,8,8,12,11,12,12,9,9,11,8,9,9,10.176471
17,2021-01-18,17,25,22,16,25,17,24,19,17,21,24,21,20,21,20,25,21,20.882353
18,2021-01-19,15,15,13,15,14,11,11,16,13,16,17,12,12,13,11,8,15,13.352941
19,2021-01-20,25,18,27,24,20,20,16,28,23,28,28,20,15,21,17,8,32,21.764706
20,2021-01-21,30,22,41,32,24,31,28,37,26,40,37,25,18,30,21,12,48,29.529412
21,2021-01-22,31,27,47,24,22,22,30,31,20,38,38,28,21,32,29,13,41,29.058824
22,2021-01-23,8,13,13,11,20,14,13,8,6,15,20,25,17,15,17,11,17,14.294118
23,2021-01-24,9,11,9,10,11,6,11,9,9,10,12,10,10,10,10,11,11,9.941176
24,2021-01-25,16,8,14,22,15,9,8,18,13,14,18,15,11,11,11,7,15,13.235294
25,2021-01-26,28,10,15,30,18,12,9,28,17,18,26,23,10,12,10,7,20,17.235294
26,2021-01-27,18,17,20,15,18,19,16,20,16,26,22,20,14,19,14,16,21,18.294118
27,2021-01-28,16,18,19,16,21,14,15,16,15,18,19,18,16,17,17,18,17,17.058824
28,2021-01-29,9,11,9,10,13,9,8,9,7,9,12,10,10,9,9,10,9,9.588235
29,2021-01-30,23,24,25,24,27,20,22,25,20,24,33,32,18,22,22,14,23,23.411765
30,2021-01-31,27,28,25,24,32,20,20,29,21,27,31,31,24,19,25,11,28,24.823529

In [5]:
df1 = df[['날짜','서울']]

In [6]:
df1

            날짜  서울
0   2021-01-01  16
1   2021-01-02  11
2   2021-01-03  14
3   2021-01-04  22
4   2021-01-05  15
5   2021-01-06  13
6   2021-01-07  11
7   2021-01-08  10
8   2021-01-09  15
9   2021-01-10  22
10  2021-01-11  32
11  2021-01-12  47
12  2021-01-13  45
13  2021-01-14  29
14  2021-01-15  34
15  2021-01-16  35
16  2021-01-17  13
17  2021-01-18  17
18  2021-01-19  15
19  2021-01-20  25
20  2021-01-21  30
21  2021-01-22  31
22  2021-01-23   8
23  2021-01-24   9
24  2021-01-25  16
25  2021-01-26  28
26  2021-01-27  18
27  2021-01-28  16
28  2021-01-29   9
29  2021-01-30  23
30  2021-01-31  27

In [7]:
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [8]:
df1.to_csv('dust2/202101Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202101Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202101Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202101Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202101Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202101Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202101Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202101Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202101Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202101Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202101Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202101Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202101Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202101Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202101Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202101Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202101Sejongdust2.5.csv', sep=',')

In [9]:
df = pd.read_csv('dust/202102dust.csv', encoding='UTF-8')

In [10]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [11]:
df1.to_csv('dust2/202102Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202102Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202102Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202102Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202102Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202102Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202102Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202102Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202102Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202102Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202102Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202102Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202102Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202102Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202102Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202102Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202102Sejongdust2.5.csv', sep=',')

In [12]:
df = pd.read_csv('dust/202103dust.csv', encoding='UTF-8')

In [13]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [14]:
df1.to_csv('dust2/202103Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202103Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202103Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202103Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202103Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202103Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202103Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202103Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202103Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202103Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202103Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202103Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202103Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202103Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202103Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202103Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202103Sejongdust2.5.csv', sep=',')

In [15]:
df = pd.read_csv('dust/202104dust.csv', encoding='UTF-8')

In [16]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [17]:
df1.to_csv('dust2/202104Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202104Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202104Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202104Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202104Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202104Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202104Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202104Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202104Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202104Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202104Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202104Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202104Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202104Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202104Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202104Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202104Sejongdust2.5.csv', sep=',')

In [18]:
df = pd.read_csv('dust/202105dust.csv', encoding='UTF-8')

In [19]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [20]:
df1.to_csv('dust2/202105Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202105Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202105Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202105Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202105Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202105Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202105Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202105Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202105Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202105Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202105Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202105Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202105Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202105Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202105Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202105Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202105Sejongdust2.5.csv', sep=',')

In [21]:
df = pd.read_csv('dust/202106dust.csv', encoding='UTF-8')

In [22]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [23]:
df1.to_csv('dust2/202106Seouldust2.5.csv', sep=',')
df2.to_csv('dust2/202106Busandust2.5.csv', sep=',')
df3.to_csv('dust2/202106Daegudust2.5.csv', sep=',')
df4.to_csv('dust2/202106Incheondust2.5.csv', sep=',')
df5.to_csv('dust2/202106Kwangjudust2.5.csv', sep=',')
df6.to_csv('dust2/202106Daejeondust2.5.csv', sep=',')
df7.to_csv('dust2/202106Ulsandust2.5.csv', sep=',')
df8.to_csv('dust2/202106Kyoungkidust2.5.csv', sep=',')
df9.to_csv('dust2/202106Kangwondust2.5.csv', sep=',')
df10.to_csv('dust2/202106Chungbukdust2.5.csv', sep=',')
df11.to_csv('dust2/202106Chungnamdust2.5.csv', sep=',')
df12.to_csv('dust2/202106Jeonbukdust2.5.csv', sep=',')
df13.to_csv('dust2/202106Jeonnamdust2.5.csv', sep=',')
df14.to_csv('dust2/202106Kyoungbukdust2.5.csv', sep=',')
df15.to_csv('dust2/202106Kyoungnamdust2.5.csv', sep=',')
df16.to_csv('dust2/202106Jejudust2.5.csv', sep=',')
df17.to_csv('dust2/202106Sejongdust2.5.csv', sep=',')

In [24]:
df = pd.read_csv('dust/202101dust10pm.csv', encoding='UTF-8')

In [25]:
df

,,날짜,서울,부산,대구,인천,광주,대전,울산,경기,강원,충북,충남,전북,전남,경북,경남,제주,세종,avg10
0,0,2021-01-01,25,20,22,26,23,31,19,30,22,33,36,28,18,24,19,17,42,25.588235
1,1,2021-01-02,32,32,39,29,32,39,32,36,30,42,41,40,27,38,29,23,43,34.352941
2,2,2021-01-03,35,27,35,35,38,42,29,42,32,45,46,39,35,37,28,42,47,37.294118
3,3,2021-01-04,37,41,45,39,46,44,37,42,30,45,48,44,40,42,38,38,51,41.588235
4,4,2021-01-05,26,42,39,24,36,35,39,30,25,37,36,36,31,39,35,29,36,33.823529
5,5,2021-01-06,24,19,21,26,18,24,20,29,20,27,28,20,15,23,17,22,29,22.470588
6,6,2021-01-07,31,26,25,25,18,25,23,30,29,24,24,17,18,26,18,14,29,23.647059
7,7,2021-01-08,19,17,16,20,17,20,14,20,16,22,24,21,14,17,14,10,25,18.000000
8,8,2021-01-09,24,17,18,24,19,21,14,26,20,26,29,25,16,18,15,12,31,20.882353
9,9,2021-01-10,31,19,21,29,27,27,17,32,25,34,35,28,21,22,19,18,37,26.000000
10,10,2021-01-11,44,33,39,49,32,43,28,51,31,47,49,40,26,31,28,20,54,37.941176
11,11,2021-01-12,58,34,45,53,43,44,29,61,43,56,56,43,34,38,34,41,61,45.470588
12,12,2021-01-13,101,96,89,99,77,82,94,102,99,85,101,93,77,93,81,89,81,90.529412
13,13,2021-01-14,75,76,75,64,79,97,68,83,82,105,88,89,81,78,73,56,113,81.294118
14,14,2021-01-15,74,54,64,66,66,72,52,79,81,80,77,67,58,63,50,40,80,66.058824
15,15,2021-01-16,51,75,85,47,58,74,77,55,74,74,63,60,61,89,71,59,74,67.470588
16,16,2021-01-17,19,19,17,17,18,17,17,20,20,19,20,17,16,19,14,17,19,17.941176
17,17,2021-01-18,35,47,42,35,46,37,44,39,31,36,45,40,46,39,39,63,37,41.235294
18,18,2021-01-19,30,28,27,30,27,27,24,33,29,30,31,24,24,26,23,20,33,27.411765
19,19,2021-01-20,44,31,45,43,35,37,29,49,47,46,42,31,26,37,30,17,49,37.529412
20,20,2021-01-21,46,35,62,50,34,48,41,55,42,60,49,34,28,46,33,23,65,44.176471
21,21,2021-01-22,37,35,59,32,26,30,38,39,27,47,47,33,29,42,37,19,52,37.000000
22,22,2021-01-23,11,23,20,15,25,24,24,13,10,21,28,32,26,24,25,20,26,21.588235
23,23,2021-01-24,12,22,16,14,17,13,21,14,15,17,18,16,17,18,17,24,19,17.058824
24,24,2021-01-25,23,17,24,32,25,19,16,29,23,24,29,23,20,20,19,22,25,22.941176
25,25,2021-01-26,36,16,22,41,22,21,15,38,25,26,33,29,16,19,15,13,29,24.470588
26,26,2021-01-27,37,28,35,34,38,44,26,43,33,46,45,40,30,33,25,30,45,36.000000
27,27,2021-01-28,31,39,41,32,41,38,33,36,34,38,40,38,38,37,34,48,38,37.411765
28,28,2021-01-29,22,29,33,21,25,31,25,25,20,26,30,27,27,28,26,29,29,26.647059
29,29,2021-01-30,47,71,67,54,63,62,66,56,39,54,77,81,58,60,62,51,56,60.235294
30,30,2021-01-31,51,58,54,52,65,51,44,58,42,54,64,67,63,43,58,33,57,53.764706

In [26]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [27]:
df1.to_csv('dust2/202101Seouldust10.csv',sep=',')
df2.to_csv('dust2/202101Busandust10.csv', sep=',')
df3.to_csv('dust2/202101Daegudust10.csv', sep=',')
df4.to_csv('dust2/202101Incheondust10.csv', sep=',')
df5.to_csv('dust2/202101Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202101Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202101Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202101Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202101Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202101Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202101Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202101Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202101Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202101Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202101Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202101Jejudust10.csv',sep=',')
df17.to_csv('dust2/202101Sejongdust10.csv',sep=',')

In [28]:
df = pd.read_csv('dust/202102dust10pm.csv', encoding='UTF-8')

In [29]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [30]:
df1.to_csv('dust2/202102Seouldust10.csv',sep=',')
df2.to_csv('dust2/202102Busandust10.csv', sep=',')
df3.to_csv('dust2/202102Daegudust10.csv', sep=',')
df4.to_csv('dust2/202102Incheondust10.csv', sep=',')
df5.to_csv('dust2/202102Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202102Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202102Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202102Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202102Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202102Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202102Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202102Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202102Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202102Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202102Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202102Jejudust10.csv',sep=',')
df17.to_csv('dust2/202102Sejongdust10.csv',sep=',')

In [33]:
df = pd.read_csv('dust/202103dust10pm.csv', encoding='EUC-KR')

In [34]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [35]:
df1.to_csv('dust2/202103Seouldust10.csv',sep=',')
df2.to_csv('dust2/202103Busandust10.csv', sep=',')
df3.to_csv('dust2/202103Daegudust10.csv', sep=',')
df4.to_csv('dust2/202103Incheondust10.csv', sep=',')
df5.to_csv('dust2/202103Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202103Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202103Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202103Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202103Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202103Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202103Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202103Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202103Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202103Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202103Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202103Jejudust10.csv',sep=',')
df17.to_csv('dust2/202103Sejongdust10.csv',sep=',')

In [37]:
df = pd.read_csv('dust/202104dust10pm.csv', encoding='EUC-KR')

In [38]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [39]:
df1.to_csv('dust2/202104Seouldust10.csv',sep=',')
df2.to_csv('dust2/202104Busandust10.csv', sep=',')
df3.to_csv('dust2/202104Daegudust10.csv', sep=',')
df4.to_csv('dust2/202104Incheondust10.csv', sep=',')
df5.to_csv('dust2/202104Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202104Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202104Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202104Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202104Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202104Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202104Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202104Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202104Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202104Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202104Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202104Jejudust10.csv',sep=',')
df17.to_csv('dust2/202104Sejongdust10.csv',sep=',')

In [40]:
df = pd.read_csv('dust/202105dust10pm.csv', encoding='EUC-KR')

In [41]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [42]:
df1.to_csv('dust2/202105Seouldust10.csv',sep=',')
df2.to_csv('dust2/202105Busandust10.csv', sep=',')
df3.to_csv('dust2/202105Daegudust10.csv', sep=',')
df4.to_csv('dust2/202105Incheondust10.csv', sep=',')
df5.to_csv('dust2/202105Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202105Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202105Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202105Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202105Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202105Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202105Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202105Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202105Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202105Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202105Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202105Jejudust10.csv',sep=',')
df17.to_csv('dust2/202105Sejongdust10.csv',sep=',')

In [44]:
df = pd.read_csv('dust/202106dust10pm.csv', encoding='UTF-8')

In [45]:
df1 = df[['날짜','서울']]
df2 = df[['날짜','부산']]
df3 = df[['날짜','대구']]
df4 = df[['날짜','인천']]
df5 = df[['날짜','광주']]
df6 = df[['날짜','대전']]
df7 = df[['날짜','울산']]
df8 = df[['날짜','경기']]
df9 = df[['날짜','강원']]
df10 = df[['날짜','충북']]
df11 = df[['날짜','충남']]
df12 = df[['날짜','전북']]
df13 = df[['날짜','전남']]
df14 = df[['날짜','경북']]
df15 = df[['날짜','경남']]
df16 = df[['날짜','제주']]
df17 = df[['날짜','세종']]

In [46]:
df1.to_csv('dust2/202106Seouldust10.csv',sep=',')
df2.to_csv('dust2/202106Busandust10.csv', sep=',')
df3.to_csv('dust2/202106Daegudust10.csv', sep=',')
df4.to_csv('dust2/202106Incheondust10.csv', sep=',')
df5.to_csv('dust2/202106Kwangjudust10.csv', sep=',')
df6.to_csv('dust2/202106Daejeondust10.csv', sep=',')
df7.to_csv('dust2/202106Ulsandust10.csv',sep=',')
df8.to_csv('dust2/202106Kyoungkidust10.csv',sep=',')
df9.to_csv('dust2/202106Kangwondust10.csv',sep=',')
df10.to_csv('dust2/202106Chungbukdust10.csv',sep=',')
df11.to_csv('dust2/202106Chungnamdust10.csv',sep=',')
df12.to_csv('dust2/202106Jeonbukdust10.csv',sep=',')
df13.to_csv('dust2/202106Jeonnamdust10.csv',sep=',')
df14.to_csv('dust2/202106Kyoungbukdust10.csv',sep=',')
df15.to_csv('dust2/202106Kyoungnamdust10.csv',sep=',')
df16.to_csv('dust2/202106Jejudust10.csv',sep=',')
df17.to_csv('dust2/202106Sejongdust10.csv',sep=',')